@model List<Cafe_manager.Models.EF.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.active = 2;
}


<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh mục sản phẩm</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm " href="~/Admin/Categori/AddCategory" title="Thêm">
                                <i class="fas fa-plus"></i>
                                Tạo mới đơn hàng
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)">
                                <i class="fas fa-file-upload"></i> Tải từ file
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                                <i class="fas fa-print"></i> In dữ liệu
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép">
                                <i class="fas fa-copy"></i> Sao chép
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)">
                                <i class="fas fa-file-pdf"></i> Xuất PDF
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)">
                                <i class="fas fa-trash-alt"></i> Xóa tất cả
                            </a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th width="10"><input type="checkbox" id="all"></th>
                                <th>ID</th>
                                <th>Tên danh mục</th>
                                <th>Ảnh </th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <div>
                                            <img style="width: 150px; height: 100px" src="@item.Image" />
                                        </div>
                                    </td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedDate</td>
                                    <td><span class="badge bg-success">@item.Status</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                                onclick="myFunction(this)">
                                            @Html.ActionLink("Xóa", "Xoa", new { id = item.ID })
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                data-target="#ModalUP">
                                            @Html.ActionLink("Sửa", "CapNhat", new { id = item.ID })
                                            <i class="fas fa-edit"></i>
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    //Modal
    $(document).ready(function () {
        $(document).on('click', '.btnShowPopup', function () {
            $('#modalCategory').modal('show');
        });

    });
</script>

