@model List<Cafe_manager.Models.EF.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.active = 7;
}

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" href="form-add-don-hang.html" title="Thêm">
                                <i class="fas fa-plus"></i>
                                Tạo mới đơn hàng
                            </a>
                        </div>

                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên khách hàng</th>
                                <th>Nhân viên</th>
                                <th>Tổng tiền</th>
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@Html.DisplayFor(modelItem => item.Customer.Fullname)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Staff.Fullname)</td>
                                    <td>@String.Format("{0:#,0}", item.Price_total)</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-primary btn-sm trash" type="button" title="Thanh toán">
                                            @Html.ActionLink("Thanh toán", "Pay", new { id = item.ID })
                                            <i class=""></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>