
@model Cafe_manager.Models.EF.Staff

<!--
  MODAL
-->
<div class="modal fade" id="DetailStaff-@Model.ID" tabindex="-1" role="dialog" aria-labelledby="DetailStaffLabel" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Thông tin chi tiết</h5>
                        </span>
                    </div>
                </div>
                <div style="">
                    <a><img style="width:100px;height:100px" class="img-card-person" src="@Model.Imagesaff" alt=""></a>
                </div>
                <BR>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label">ID nhân viên </label>
                        <input class="form-control" type="number" value="@Model.ID">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Họ và tên</label>
                        <input class="form-control" type="text" required value="@Model.Fullname">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Giới tính</label>
                        <input class="form-control" type="text" required value="@Model.Gender">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Ngày sinh</label>
                        <input class="form-control" type="text" required value="@Model.Birthday">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại</label>
                        <input class="form-control" type="text" required value="@Model.Phonenumber">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Chức vụ</label>
                        <input class="form-control" type="text" required value="@Model.Position">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="text" required value="@Model.Email">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Địa chỉ</label>
                        <input class="form-control" type="text" required value="@Model.Address">
                    </div>
                </div>
                <BR>
                <BR>
                <BR>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Quay lại</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--
MODAL
-->
